body {
    display: block;
    margin: 8px;
    background-color: #07020D;
}

h1, p {
    text-align: center;
    color: #E0E2DB;
}

h2, h3, h4 {
    text-align: center;
    color: #E0E2DB;
    font-size: 20px;
}

div {
    border: 1px solid red;
    display: flex;
    justify-content: space-evenly;
}

card {
    text-align: center;
    display: flex;
    flex-direction: column;
}
